@import "common";
html {
    height: 100%;
}

body {
    background: $primaryColor;
    color: $textColor;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin: 0;
    min-height: 100%;
}

h1 {
    font-weight: lighter;
    font-size: 4rem;
}

h2 {
    font-weight: lighter;
    font-size: 2.4rem;
}

#root:empty:after {
    content: 'Loading';
}

.show-loading:empty:after {
    content: 'Loading';
}

input[type=text] {
    width: 220px;
    padding: 8px 10px;
    border: 1px solid darken($primaryColor, 5%);
    box-shadow: 0 0 6px 0 darken($primaryColor, 10%);
    font-family: inherit;
    font-size: 0.9rem;
    background: lighten($primaryColor, 10%);
    color: $textColor;
    &:focus {
        border: 1px solid $secondaryColor;
        outline: none;
    }
}

.btn-primary {
    font-family: inherit;
    font-size: 0.9rem;
    color: $textColor;
    padding: 8px 12px;
    min-width: 80px;
    outline: none;
    margin: 4px;
    box-sizing: content-box;
    cursor: pointer;
    transition: background 0.15s ease-out;
    user-select: none;
    background: $secondaryColor;
    border: 1px solid darken($primaryColor, 5%);
    box-shadow: 0 0 6px 0 darken($primaryColor, 10%);
    &:hover:not([disabled]) {
        background: lighten($secondaryColor, 5%);
    }
    &:active {
        background: desaturate(lighten($secondaryColor, 5%), 30%);
    }
    &[disabled] {
        cursor: default;
        opacity: 0.5;
    }
}

.btn-secondary {
    @extend .btn-primary;
    background: transparent;
    border: 1px solid darken($primaryColor, 5%);
    box-shadow: 0 0 2px 0 darken($primaryColor, 10%);
    &:hover:not([disabled]) {
        background: rgba(lighten($primaryColor, 10%), 0.4);
    }
    &:active {
        background: rgba(darken($primaryColor, 5%), 0.4);
    }
}