@import "common";
.start {
    >header {
        background: $background;
        margin-bottom: 28px;
        display: block;
        box-shadow: 0 0 10px 4px darken($background, 10%);
        h1 {
            margin: 0;
            padding: 10px 20px;
            font-weight: lighter;
            font-size: 1.6rem;
        }
        .addBook {
            position: absolute;
            right: 14px;
            top: 6px;
        }
    }
}