@import "../common";
#addBook {
    position: absolute;
    right: 14px;
    top: 12px;
    span.fa {
        margin-right: 0.8rem;
        font-size: 1.2rem;
        vertical-align: middle;
        cursor: pointer;
        &:active {
            color: $secondaryColor;
        }
        input {
            display: none;
        }
    }
}