@import "../common";
section.book {
    position: relative;
    display: inline-block;
    box-shadow: 0 0 1px 0 darken($primaryColor, 10%);
    border: 1px solid rgba(darken($primaryColor, 20%), 0.5);
    background: lighten($primaryColor, 4%);
    width: 280px;
    height: 120px;
    margin: 8px;
    padding: 4px 6px;
    vertical-align: top;
    header {
        font-weight: bold;
        font-size: 1.1rem;
    }
    p.author {
        margin: 4px 0;
        padding: 0;
        font-size: 0.85rem;
        color: rgba($textColor, 0.8);
    }
    p.borrowInfo {
        padding: 0;
        margin: 0;
        font-size: 0.85rem;
        position: absolute;
        color: $textColor;
        left: 6px;
        bottom: 6px;
        white-space: normal;
        max-width: 160px;
        &.long {
            font-size: 1rem;
            max-width: none;
            color: #9a6100;
            font-weight: bold;
        }
    }
    button {
        position: absolute;
        right: 2px;
        bottom: 2px;
    }
}