@import "../common";
.start {
    >header {
        background: $primaryColor;
        margin-bottom: 28px;
        display: block;
        box-shadow: 0 0 10px 4px darken($primaryColor, 10%);
        img {
            width: 64px;
            float: left;
            padding-left: 4px;
        }
        h1 {
            margin: 0;
            padding: 16px 0 10px 74px;
            font-weight: lighter;
            font-size: 1.6rem;
            color: $secondaryColor;
        }
    }
}